<h1>CSS Keyframe animation</h1> 

<div class = "box1"></div>
<div class = "box2"></div>
<div class = "box3"></div>  
<div class = "box4"></div> 








<!-- <table>
  <tr>
    <th></th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% #@csses.each do |css| %>
  <tr>
    <td><%#= css.title %></td>
    <td><%#= link_to 'Show', css %></td>
    <td><%#= link_to 'Edit', edit_css_path(css) %></td>
    <td><%#= link_to 'Destroy', css, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<%# end %>
</table>

<br />
<%#= link_to 'New Css', new_css_path %>      -->
